{% extends 'layout.html' %}

{% block title %}
Spot Details
{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;width: 100%;width: 100vw;display: flex;justify-content: center;align-items: center;">
  <div class="card p-4" style="width: 100%; max-width: 560px;border-radius: 10px;">
    <h1 class="my-2">Occupied Parking Spot Details</h1>
    <form class="custom" method="post">
      
      {%for i in reservations%}

      <div class="row mb-3">
        <label for="spot_id" class="col-sm-5 col-form-label text-end text-end">Spot Id:</label>
        <div class="col-sm-6">
          <input id="spot_id" class="form-control" type="text" value="{{i.spot_id}}" required aria-label="readonly input example" readonly>
        </div>
      </div>


      <div class="row mb-3">
        <label for="user_id" class="col-sm-5 col-form-label text-end">User Id:</label>
        <div class="col-sm-6">
          <input id="user_id" class="form-control" name="user_id" required value="{{i.user_id}}" aria-label="readonly input example" readonly>
        </div>
      </div>

      <div class="row mb-3">
        <label for="user_name" class="col-sm-5 col-form-label text-end">UserName:</label>
        <div class="col-sm-6">
          <input id="user_name" class="form-control" name="username" required value="{{i.user.username}}" aria-label="readonly input example" readonly>
        </div>
      </div>

      <div class="row mb-3">
        <label for="vehicle_number" class="col-sm-5 col-form-label text-end">Vehicle Number :</label>
        <div class="col-sm-6">
          <input id="vehicle_number" class="form-control" type="text" value="{{i.vehicle_number}}" aria-label="readonly input example" readonly  name="vehicle_number" required>
        </div>
      </div>

      <div class="row mb-3">
        <label for="duration" class="col-sm-5 col-form-label text-end">Duration:</label>
        <div class="col-sm-7">
          <input id="duration" class="form-control" type="text" value="{{duration}}" aria-label="readonly input example" readonly  name="vehicle_number" required>
        </div>
      </div>

      <div class="row mb-3">
        <label for="total_cost" class="col-sm-6 col-form-label text-end text-end">Estimated Parking Cost:</label>
        <div class="col-sm-6">
          <input id="total_cost" class="form-control" type="number" value="{{total_cost}}" aria-label="readonly input example" readonly name="total_cost" required>
        </div>
      </div>
      {%endfor%}

    </form>
    <div class="d-flex justify-content-center">
      <a href="/admin"  class="btn btn-secondary">Close</button></a>
    </div>
  </div>
</div>
{% endblock %}

{% block style %}
<style>
.container {
  background: linear-gradient(to right, #a1c4fd, #c2e9fb);
  border-radius: 10px;
}
.card {
  background: linear-gradient(to right, #e0c3fc, #8ec5fc);
  backdrop-filter: blur(2px);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0.2);
}
.custom input{
  width: 100%;
}
.custom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin-top: 10px;
  text-align: center;
}
    
</style>
{% endblock %}