{% extends 'layout.html' %}

{% block title %}
Home
{% endblock %}
{% block content %}
{% if lots %}
<div class="container mt-4" id="parking-dashboard">
  <h2 class="text-center mb-2">Parking Lots</h2>
  <hr style="height: 3px; background-color: #007bff;">

  <div class="d-flex flex-wrap gap-4 justify-content-start">

    {% for lot in lots %}
    <div class="parking-lot-card p-3 shadow rounded">
      <h5 class="fw-bold">Parking Lot #{{ lot.lot.lot_id }}</h5>
      <div class="mb-2">
        <a href="/admin_edit_lot/{{ lot.lot.lot_id }}" class="text-warning text-decoration-none me-2">Edit</a>|
        <a href="/admin_delete_lot/{{ lot.lot.lot_id }}" class="text-danger text-decoration-none">Delete</a>
      </div>
      <p class="text-success fw-bold" style="margin-bottom:5px" >Occupied: {{ lot.occupied_spots }} / {{ lot.total_spots }}</p>
      <hr style="margin:0; background-color: #007bff;width: 100%; border:1px solid black;">

      <div class="spot-grid">
        {% if lot.spots %}
        {% for spot in lot.spots %}
        {% if spot.status == 'available' %}
        <div class="spot available">
          <a href="/admin_view_spots/{{ lot.lot.lot_id }}/{{ spot.spot_id }}" class="text-decoration-none text-dark">A</a>
        </div>

        {% else %}
        <div class="spot occupied">
          <a href="/admin_view_spots/{{ lot.lot.lot_id }}/{{ spot.spot_id }}" class="text-decoration-none text-dark">O</a>
        </div>
        {% endif %}
        {% endfor %}

        {% else %}
        <p class="text-muted">No spots available</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="container mt-4">
    <h2 class="text-center mb-2">No Parking Lots Available</h2>
    <hr style=" height: 3px; background-color: #007bff;">
    <p class="text-center">Please add a parking lot to get started.</p>
  </div>
{%endif%}

  <div class="text-center mt-4">
   <a href="{{ url_for('admin_add_lot') }}"> <button class="btn btn-outline-primary add-lot-btn">+ Add Lot</button></a>
  </div>
</div>


{% endblock %}

{% block style %}
<style>
body {
  background-color: #F5F5F5;
}
h1 {
  margin-top: 64px;
  text-align: center;
}


.parking-lot-card {
  width: 280px;
  background-color:rgb(240, 224, 203);
  border: 2px solid #ddd;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.parking-lot-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  background-color: #ffffff;
}

.spot-grid {
  display: grid;
  grid-template-columns: repeat(5, 30px);
  gap: 8px;
  margin-top: 10px;
}

.spot {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 9px;
  font-weight: bold;
}

.spot.available {
  background-color: #a0e7a0;
}

.spot.occupied {
  background-color: #f7b5b5;
}

.add-lot-btn {
  padding: 8px 20px;
  border-radius: 10px;
  font-weight: 600;
}


</style>
{% endblock %}