{% extends 'layout.html' %}

{% block title %}
Summary Dashboard
{% endblock %}
{% block content %}
<h1>Summary</h1>

<div class="table border" style="overflow-x:auto; border-radius: 10px; margin-top: 20px; padding: 20px;">
    <table class="table table-bordered table-hover" style="border:2px solid black ;">
        <thead>
            <tr>
                <th scope="col">Currently Booked</th>
                <th scope="col">Past Transactions</th>
                <th scope="col">Total Spots Booked</th>
                <th scope="col">Total Cost Spent</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <th scope="row">{{ongoing_count}}</th>
                        <th scope="row">{{completed_count}}</th>
                        <td scope="row">{{total_count}}</td>
                        <td scope="row">{{total_cost}}</td>
                    </th>
                </tr>
           
        </tbody>
    </table>
</div>
{% endblock %}

{% block style %}
<style>
    hr{
        margin-top: 20px;
        margin-bottom: 20px;
        border-top: 5px solid black;
    }
    body {
        background-color: #F5F5F5;
    }
    h1 {
        margin-top: 64px;
        text-align: center;
    }
    .table {
         width: 100%;
        table-layout: auto;
        background-color: #4DA8DA;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .table th, .table td {
        white-space: nowrap;
        text-align: left;
        padding: 8px;
        background-color: #FFD66B;
        vertical-align: middle;
    }
</style>
{% endblock %}